
.container{
    gap: 40px;
    display: flex;
    flex-direction: column;
  }
  .title{
    font-size: 2rem;
    font-weight: bold;
    color: #FF6B6B;
  
  }
  .content{
    gap: 10px;
    display: flex;
    flex-direction: column;
  }
  .wrap-input{
    display: flex;
    gap: 10px;
    justify-content: center;
    /* align-items: center; */
  }
  
  .wrap-select{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
  
  .exchange-btn{
    background-color: #FF6B6B;
    color: white;
    border: none;
    padding: 12px 12px;
    border-radius: 50px;
    cursor: pointer;
    align-self: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .exchange-btn:disabled{
    background-color: rgb(177, 176, 176);
  }
  
  .result{
    font-size: 1.6rem;
    font-weight: bold;
    color: #747373;
  }
  
  .loading {
    animation: spin infinite 4s linear;
  }
  
  
  @keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
  }